<link rel="stylesheet" type="text/css" href="css/admin.css" />
<div class="container">
  <div class="col-md-6">
    <form ng-controller="AdminSignUpController" name="AdminSignUpForm" novalidate>
      <input type="text" name="firstName" placeholder="Enter First Name" ng-model="asuCtrl.user.first_name"
        required 
        minlength="4"
        ng-maxlength="10">
      <span ng-if="(AdminSignUpForm.firstName.$error.minlength || AdminSignUpForm.firstName.$error.required) && 
        AdminSignUpForm.firstName.$touched">First name must be at least 4 characters long.</span>
      <span ng-if="AdminSignUpForm.firstName.$error.maxlength && AdminSignUpForm.firstName.$touched">
        First name cannot be more than 10 characters</span>
      <br>
      <input type="text" name="lastName" placeholder="Enter Last Name" ng-model="asuCtrl.user.last_name"
        required 
        minlength="4"
        ng-maxlength="10">
      <span ng-if="(AdminSignUpForm.lastName.$error.minlength || AdminSignUpForm.lastName.$error.required) && 
        AdminSignUpForm.lastName.$touched">Last name must be at least 4 characters long.</span>
      <span ng-if="AdminSignUpForm.lastName.$error.maxlength && AdminSignUpForm.lastName.$touched">
        Last name cannot be more than 10 characters</span>
      <br>
      <input type="email" name="email" placeholder="Enter email address" ng-model="asuCtrl.user.email"
        required>
      <span ng-if="AdminSignUpForm.email.$invalid && AdminSignUpForm.email.$touched">Must be a valid email address: example@gmail.com</span>
      <br>
      <input type="text" name="phone" placeholder="Enter phone number" ng-model="asuCtrl.user.phone"
        required
                                                                       pattern="(\d{3}-\d{3}-\d{4})">
      <span ng-if="AdminSignUpForm.phone.$invalid && AdminSignUpForm.phone.$touched">Must be a valid phone number: 123-456-7890</span>
      <br>
      <input type="text" name="favDish" placeholder="Enter favorite dish" ng-model="asuCtrl.user.favorite_dish_short_name"
        required
        minlength="3"
        ng-maxlength="3">
      <span ng-if="asuCtrl.lookupFailed">No such menu number exists</span>
      <span ng-if="(AdminSignUpForm.favDish.$error.minlength || AdminSignUpForm.favDish.$error.required) && AdminSignUpForm.favDish.$touched">Favorite dish must be entered as the 3 character short name</span>
      <br>
      <button ng-disabled="AdminSignUpForm.$invalid" ng-click="asuCtrl.submit(asuCtrl.user)">Submit</button>
    </form>
    <span ng-if="asuCtrl.saved">Your information has been saved</span>
  </div>
</div>
